ion-title{
    align-content: center;
    flex-wrap: wrap;
}

.title_shelves_table{

    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 0.75rem 0;
    border-top: 1px solid #dee2e6;
    h3{
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 500;
    }
}

.shelves_table{
    border-bottom: 1px solid #dee2e6;
    color: var(--ion-color-dark, #dee2e6);
}
ion-card-content{
    h1{
        font-size: 1.6rem;
        line-height: 1.8;
        text-align: left;
        font-weight: 600;
        color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-600, #666666)))
    }
    p{
        font-size: 1rem;
        line-height: 1.2;
        text-align: left;
        font-weight: 500;
        color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-600, #666666)));
        blockquote{
            border-left: 5px solid #dee2e6;
        }
    }
}
ion-card-title{
    text-align: center;
    padding-bottom: 1rem;
}


ion-toolbar{
    --background: transparent;
}

.notifications_card{
    ion-card-content{
        height: 100%!important;
    }
    ion-chip{
        width: 100%;
        padding: 40px 0;
    }
    ion-item{
        width: 100%;
        --background: transparent;
    }
}

